---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interbank Advisors</title>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-lg bg-white p-8 rounded-lg shadow-lg">
        <img src="/images.jpg" alt="Logo" class="mx-auto mb-8">
		<img src="/interbank-logo.png" alt="Logo Interbank" class="mx-auto mb-8">
        <h2 class="text-3xl font-bold mb-4 text-center">¡Estamos en mantenimiento!</h2>
        <p class="text-lg text-center mb-8">Disculpa las molestias. Estamos trabajando para mejorar tu experiencia.</p>
        <p class="text-lg text-center mb-8">Sorry for the inconvenience. We are working to improve your experience.</p>
    </div>
</body>
</html>
